@model IEnumerable<J_LearingSystem.Models.Quiz>

<table class="table table-striped table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.TimeCreated
        </td>
        <td>
            @Html.ActionLink("View", "Details", "Quiz", new { id = item.Id }, new { @class = "btn btn-sm btn-default" })
@if (User.IsInRole("Staff")) {
            <div class="btn-group btn-group-sm">
                <a href="@Url.Action("Edit", "Quiz", new { id = item.Id })" class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="@Url.Action("Delete", "Quiz", new { id = item.Id })" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div> 
}
        </td>
    </tr>
}

</table>
