@model J_LearingSystem.Models.Quiz

@{
    ViewBag.Title = "Quiz Details";
}

<div class="row top-toolbar">
    <div class="col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-sm-6 text-right">
        <div class="btn-group">
            <a href="@Url.Action("Index", "Quiz")" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
        <div class="btn-group">
            <a href="@Url.Action("Edit", "Quiz", new { id = Model.Id })" class="btn btn-warning">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="@Url.Action("Delete", "Quiz", new { id = Model.Id })" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
</div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>

        <dd>
            @Model.TimeCreated.ToShortDateString()
        </dd>

    </dl>
</div>
<div class="row top-toolbar">
    <div class="col-sm-6">
        <h4>Questions</h4>
    </div>
    <div class="col-sm-6 text-right">
        <div class="btn-group">
            <a href="@Url.Action("Create", "Question", new { quizId = Model.Id })" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Create Question
            </a>
        </div>
    </div>
</div>
@{
    //Html.RenderPartial("~/Views/Question/_PartialQuestionsList.cshtml", Model.Questions);
}
