@model J_LearningSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Student = J_LearningSystem.BL.Util.Role_Student;
    ViewBag.Staff = J_LearningSystem.BL.Util.Role_Staff;
}

<h2>@ViewBag.Title.</h2>

    <div class="form-horizontal">
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Regiter As", htmlAttributes: new { @class = "contol-label col-md-2"})
            <div class="col-md-10">
                <div class="radio-inline">
                    @Html.RadioButton("registerAs", (string)@ViewBag.Student,true, new { id = @ViewBag.Student, onclick = "showRegisterResult(this)" }) @ViewBag.Student
                </div>
                <div class="radio-inline">
                    @Html.RadioButton("registerAs", (string)@ViewBag.Staff, new { id = @ViewBag.Staff, onclick = "showRegisterResult(this)" }) @ViewBag.Staff
                </div>
                @Html.ValidationMessage("registerAs", new { htmlAttributes = new { @class = "text-danger" } })
            </div>
        </div>
        <div class="form-group" id="RegisterPage">
            @Html.Partial("RegisterStudent");
        </div>

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function showRadioOption(radio) {
        var selected = radio.value;
        var Student = '@ViewBag.Student';
        var Staff = '@ViewBag.Staff';
        if (selected == Student) {
            $url = "/Account/RegisterStudent";
        }
        else if (selected == Staff) {
            $url = "/Account/RegisterStaff";
        }

        $.ajax({
            url: $url,
            dataType: 'html',
            succeed: function (data) {
                $('#RegisterPage').html(data);
                if (!Modernizr.inputtypes.date) {
                    $(".datecontrol").datepicker();
                }
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
            }
        });
    }
</script>
}
