@model J_LearingSystem.Models.Video

@{
    ViewBag.Title = "Video";
}

<div class="row top-toolbar">
    <div class="col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-sm-6 text-right">
        <div class="btn-group">
            <a href="@Url.Action("Details", "Course", new { id = Model.Course.Id })" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
@if (User.IsInRole("Staff")) {
        <div class="btn-group">
            <a href="@Url.Action("Delete", "Video", new { id = Model.Id })" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
}
    </div>
</div>

<hr />

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Model.Title
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Model.Time.ToShortDateString()
        </dd>

    </dl>
</div>

<div class="row">
    <div class="col-md-12">
        <video controls="controls">
            <source src="~/Content/Uploads/@(Model.FileName)" type="video/mp4" />
        </video>
    </div>
</div>


